<!DOCTYPE HTML>
<!--
	Intensify by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
	
		<title>Uber History</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="static/main.css" />
	</head>
	<body style="background-color:PowderBlue;">
		<!-- Header -->
			<header id="header">
			<nav class="left">
            <a href="mailto:harrison@uberhistory.com">Want your ad to be seen here? Contact harrison@uberhistory.com</a>
			</nav>
				<a href="/" class="logo">Uber History</a>
			<nav class="right">
			<a href="#" class="content">Not affiliated with Uber.</a>
				</nav>
			</header>
		<!-- Banner -->
			<section id="banner">
				<div class="content">
					<h1>How much have I spent on Uber?</h1>
					<p>Click below to login with your Google account.<br>Upon logging in, we will display your total ride cost, number of rides, and some other cool facts.</p>
					<p>Scroll down to the bottom of the page to find out how it works.</p>
					<ul class="actions">
						<li><a href="/google" class="button scrolly">Login via Google</a></li>
					</ul>
				</div><br>
				<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- ad2 -->
<ins class="adsbygoogle"
     style="display:inline-block;width:320px;height:100px"
     data-ad-client="ca-pub-2331658099800110"
     data-ad-slot="9542698139"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
				
			</section>

		<footer id="footer">
		<div class="inner">
		<h2>How it works</h2>
		<p>We securely log you into your Gmail account associated with your Uber account using Google's authenticated login. Once you login, we are able to gather all of your Uber Receipts and parse them to obtain the numbers required for our calculations.</p>
		<h3>Contact Me</h3>
		<ul class="actions">
		<li><span class="icon fa-envelope"></span> <a href="mailto:harrison@uberhistory.com">harrison@uberhistory.com</a></li>
		</ul>
		</div>
		<div class="copyright">
					&copy; Uber History
				</div>
				<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- ad1 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2331658099800110"
     data-ad-slot="8065964937"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
			</footer>
		

		<!-- Scripts -->


	</body>
</html>
